---
import Dock from "./Dock.astro";
import Links from "./Links.astro";
---

<div>
  <header
    class="flex flex-col gap-0 md:flex-row md:gap-14 justify-between items-start md:items-center"
  >
    <div>
      <h1 class="text-3xl text-foreground">Hi, I'm Pablo!</h1>
      <p class="text-base mt-5 md:max-w-[340px] text-gray200">
        Currently working as a <span class="font-bold">Front End Developer</span
        >, <i>crafting</i> smooth, accesible experiencies. I enjoy solving UI-level
        complexity — especially when <span class="font-bold">SVGs</span> and <span
          class="font-bold">animations</span
        > are involved.
      </p>
    </div>
    <div class="md:hidden w-full mb-6">
      <Links />
    </div>

    <Dock />
  </header>
  <!-- <Keys></Keys> -->
  <div class="hidden md:block">
    <Links />
  </div>
</div>
