---
import {ArrowUpRight} from '@lucide/astro'
---

<div class="flex gap-4 mt-6">
    <a href="mailto:pgm.pablogm@gmail.com" target="_blank" class="underline flex items-center justify-between decoration-dashed decoration-gray200 text-gray200 underline-offset-2">Mail <ArrowUpRight size={16}></ArrowUpRight></a>
    <a href="https://github.com/pabol139" target="_blank" class="underline flex items-center justify-between decoration-dashed decoration-gray200 text-gray200 underline-offset-2">Github <ArrowUpRight size={16}></ArrowUpRight></a>
    <a href="https://x.com/paboldev" target="_blank" class="underline flex items-center justify-between decoration-dashed decoration-gray200 text-gray200 underline-offset-2">Twitter <ArrowUpRight size={16}></ArrowUpRight></a>
    <a href="/" target="_blank" class="underline flex items-center justify-between decoration-dashed decoration-gray200 text-gray200 underline-offset-2">CV <ArrowUpRight size={16}></ArrowUpRight></a>
</div>
