<div class="flex-1 !shrink-0 text-white">
  <div class="flex justify-between items-center mt-2 -ml-0.5">
    <h3 class="text-lg text-[#ff9e01]">Reminders</h3>
    <span class="text-xl font-semibold pr-6">2</span>
  </div>
  <ul class="space-y-2 mt-2 relative pl-7 pr-4">
    <li class="flex text-sm items-center gap-2">
      <button
        class="size-4 absolute left-0 rounded-full bg-transparent outline outline-offset-1 outline-[#5d5d5d]"
      >
      </button>
      Learn shaders
    </li>
    <div class="w-full border-b border-dashed border-gray-700"></div>
    <li class="flex text-sm items-center gap-2">
      <button
        class="size-4 absolute left-0 rounded-full bg-transparent outline outline-offset-1 outline-[#5d5d5d]"
      >
      </button>
      Git gud
    </li>
    <div class="w-full border-b border-dashed border-gray-700"></div>
    <li class="flex text-sm items-center gap-2">
      <button
        class="size-4 bg-[#ff9e01] absolute left-0 rounded-full outline outline-offset-1 outline-[#ff9e01]"
      >
      </button>
      <span class="line-through inline-block text-gray200">
        Make portfolio
      </span>
    </li>
  </ul>
</div>

