---
import About from "./About.astro";
import Experience from "./Experience.astro";
import Footer from "./Footer.astro";
import Navbar from "./Navbar.astro";
import Projects from "./Projects.astro";
---

<div class="max-w-page mx-auto px-6 pt-0 w-full min-h-full h-full">
  <!-- <Navbar /> -->

  <main
    class="w-full pt-20 space-y-16 md:space-y-20 pb-20 min-h-[calc(100vh_-_40px)]"
  >
    <About />
    <Experience />
    <Projects />
  </main>
  <Footer />
</div>
