---
import About from "./About.astro";
import Experience from "./Experience.astro";
import Footer from "./Footer.astro";
import Navbar from "./Navbar.astro";
import Projects from "./Projects.astro";
---

<div class="max-w-page mx-auto p-6 pb-12 w-full">
  <Navbar />

  <main class="w-full pt-12 md:pt-20 space-y-16 md:space-y-20">
    <About />
    <Experience />
    <Projects />
    <Footer />
  </main>
</div>

