<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>Pablo García</title>
	</head>
	<body class="bg-background">
		<slot />
	</body>
</html>

<style>


	:root{
		--background: #FAFAFA;
		--foreground: #262526;
		--page-width: 680px;
	}

	html,
	body {
		margin: 0;
		width: 100%;
		height: 100%;
	}
</style>
